<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/fd28305bd0.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image" href="../images/Logofortitle.png">
    <link rel="stylesheet" href="./css/aboutpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Narrow:wght@700&family=Caveat:wght@600&family=EB+Garamond:ital,wght@1,500&family=Fira+Sans+Condensed:wght@500&family=Golos+Text:wght@400;800;900&family=Gruppo&family=IBM+Plex+Sans+Condensed:ital,wght@1,500&family=Montserrat&family=Noto+Sans&family=Nunito+Sans:wght@300;700&family=Oswald:wght@400;500&family=Poltawski+Nowy:wght@500&family=Roboto:ital@0;1&family=Russo+One&family=Sono:wght@500&family=Source+Sans+Pro:wght@700&family=Space+Grotesk:wght@400;700&family=Tilt+Warp&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <title>About | Freshmen</title>
</head>
<body>
    <header>
        <!-- -------------------------------------------------------------------Navbar---------------------------------------------- -->
        <nav>
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="images/Logo_Title.png" alt="Logo" width="300" height="60" class="d-inline-block align-text-top">
              </a>
              <ul>
                <li>
                <a href="/">
                <button type="button">Back</button>

            </a>
        </li>
              </ul>
            </div>
            <nav>
              <!-- -----------------------------------------------------------------Navbar(responsive)------------------------------------- -->
              <div class="navbar-toggle">
                <i class="fas fa-bars"></i>
              </div>
              <ul class="navbar-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a><button type="button">Subscribe</button></a></li>
              </ul>
            </nav>
          </nav>
        </header>
    <section>
        <h1>About</h1>
        <div class="about">
            
            Welcome to <strong><Font color = "#f0ff00">Freshmen!</Font></strong>  
            <br>
            <br>
            At Freshmen, our mission is to provide college students with a seamless and enriching experience throughout their academic journey. 
            We are dedicated to supporting students in achieving their goals and ensuring they have all the resources they need to thrive in college.
            <br>
            <br>
            Established with the goal of enhancing the college experience, Freshmen offers a range of features and tools designed to make student life easier and more enjoyable. We understand the challenges students face and have tailored our platform to meet their specific needs.
            <br>
            <br>
            One of the key features of Freshmen is the teacher review system. We believe in the power of student feedback and provide a platform for students to share their experiences and insights about their instructors. This feature enables students to make informed decisions when selecting courses and helps foster a transparent and collaborative learning environment.
            <br>
            <br>
            Thank you for choosing Freshmen as your go-to resource for a smoother college experience. We are here to support you every step of the way. Explore our website, take advantage of our features, and let us help you make the most of your college years.
            <br>
            <br>
            Team Freshmen <i class="fa-solid fa-heart" style="color: #f0ff00;"></i>
        </div>
        <main>
            <h1><strong>Timeline</strong></h1>
            <div class="timeline">
                <strong><Font color = "#f0ff00">08/07/2023</Font></strong> 
                <br>
                <br>
                Launch of the Website
            </div>
        </main>
    </section>

    <!-- ---------------------------------------------------------Resposive Navbar Toggle button JS------------------------------- -->
    <script>
        const navbarToggle = document.querySelector('.navbar-toggle');
        const navbarMenu = document.querySelector('.navbar-menu');

        navbarToggle.addEventListener('click', function () {
          navbarMenu.classList.toggle('show');
        });

      </script>
    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9E1BW75HJ6"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-9E1BW75HJ6');
      </script>
</body>
</html>
