<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/contactcss.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Narrow:wght@700&family=Caveat:wght@600&family=EB+Garamond:ital,wght@1,500&family=Fira+Sans+Condensed:wght@500&family=Golos+Text:wght@400;800;900&family=Gruppo&family=IBM+Plex+Sans+Condensed:ital,wght@1,500&family=Montserrat&family=Noto+Sans&family=Nunito+Sans:wght@300;700&family=Oswald:wght@400;500&family=Poltawski+Nowy:wght@500&family=Roboto:ital@0;1&family=Russo+One&family=Sono:wght@500&family=Source+Sans+Pro:wght@700&family=Space+Grotesk:wght@400;700&family=Tilt+Warp&family=Work+Sans:wght@500&display=swap"
    rel="stylesheet">
    <title>Contact</title>
</head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9E1BW75HJ6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-9E1BW75HJ6');
  </script>
<body>
    <header>
        <nav>
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">
                  <img src="../images/Logo_Title.png" alt="Logo" width="300" height="60" class="d-inline-block align-text-top">
                </a>
                <ul>
                  <li>
                  <a href="/">
                  <button type="button">Back</button>
  
              </a>
          </li>
                </ul>
              </div>
              <nav>
                <!-- -----------------------------------------------------------------Navbar(responsive)------------------------------------- -->
                <div class="navbar-toggle">
                  <i class="fas fa-bars"></i>
                </div>
                <ul class="navbar-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a><button type="button">Subscribe</button></a></li>
                </ul>
              </nav>
            </nav>
        <h1>
            Contact
        </h1>
        <div class="emaildetails">
          <img class="emailicon" src="../images/emailpng.png" alt="" height="50" width="55">
          <p class="ad1">
            discoverfreshmen@gmail.com
          </p>
        </div>
        <!-- ----------Discord icon------------- -->
        <!-- <div class="emaildetails">
          <img class="emailicon" src="discord image.png" alt="" height="50" width="55">
          <p class="ad1">
            Freshmen Discord Server
          </p>
        </div> -->
    </header>
</body>
</html>
